@page
@model Pages.Users.UserModel
@{
    ViewData["Title"] = "Users";
}
<div class="d-flex justify-content-center h-100 pt-5">
    <div class="row pt-5">
        <div class="col-12 pt-5 text-center">
            <span class="display-3 pt-5">Coming Soon</span>
        </div>
        <div class="col-12 text-center mt-5">
            <a asp-page="/Dashboard" class="btn btn-dark px-4 fs-5 rounded-pill">Go Back</a>
        </div>
    </div>
</div>
